gtsoftware/ivoryserver4j/ivoryiws/ivorytca.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:tns="urn:ivorytcaTNS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="ivorytca" targetNamespace="urn:ivorytcaTNS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:ivorytcaTNS">
      <s:complexType name="cretabsType">
        <s:sequence>
          <s:element name="cretab" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cretabsTypeArray1">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="cretabsTypeItem" type="tns:cretabsType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="columnsType">
        <s:sequence>
          <s:element name="name" type="s:string" />
          <s:element name="type" type="s:string" />
          <s:element name="precision" type="s:short" />
          <s:element name="scale" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cretabsTypeArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cretabsTypeItem" type="tns:cretabsType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="getVersionOutType">
        <s:sequence>
          <s:element name="serviceName" type="s:string" />
          <s:element name="serviceCreationDate" type="s:date" />
          <s:element name="serviceReleaseNumber" type="s:string" />
          <s:element name="currentDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="columnsTypeArray">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="columnsTypeItem" type="tns:columnsType" />
        </s:sequence>
      </s:complexType>
      <s:element name="crDB2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="sql" type="s:string" />
            <s:element minOccurs="0" name="jdbcHost" type="s:string" />
            <s:element minOccurs="0" name="jdbcPort" type="s:string" />
            <s:element minOccurs="0" name="jdbcUserID" type="s:string" />
            <s:element minOccurs="0" name="jdbcPassword" type="s:string" />
            <s:element minOccurs="0" name="jdbcDataSource" type="s:string" />
            <s:element minOccurs="0" name="jdbcLifetime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crDB2Response">
        <s:complexType>
          <s:sequence>
            <s:element name="cretabs" type="tns:cretabsTypeArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="sql" type="s:string" />
            <s:element minOccurs="0" name="jdbcHost" type="s:string" />
            <s:element minOccurs="0" name="jdbcPort" type="s:string" />
            <s:element minOccurs="0" name="jdbcUserID" type="s:string" />
            <s:element minOccurs="0" name="jdbcPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="cretabs" type="tns:cretabsTypeArray1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="colDB2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="sql" type="s:string" />
            <s:element minOccurs="0" name="jdbcHost" type="s:string" />
            <s:element minOccurs="0" name="jdbcPort" type="s:string" />
            <s:element minOccurs="0" name="jdbcUserID" type="s:string" />
            <s:element minOccurs="0" name="jdbcPassword" type="s:string" />
            <s:element minOccurs="0" name="jdbcDataSource" type="s:string" />
            <s:element minOccurs="0" name="jdbcLifetime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="colDB2Response">
        <s:complexType>
          <s:sequence>
            <s:element name="columns" type="tns:columnsTypeArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="colSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="sql" type="s:string" />
            <s:element minOccurs="0" name="jdbcHost" type="s:string" />
            <s:element minOccurs="0" name="jdbcPort" type="s:string" />
            <s:element minOccurs="0" name="jdbcUserID" type="s:string" />
            <s:element minOccurs="0" name="jdbcPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="colSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="columns" type="tns:columnsTypeArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getVersionInfo" />
      <s:element name="getVersionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="getVersionOut" type="tns:getVersionOutType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crDB2Request">
    <wsdl:part name="parameters" element="tns:crDB2" />
  </wsdl:message>
  <wsdl:message name="crDB2Response">
    <wsdl:part name="parameters" element="tns:crDB2Response" />
  </wsdl:message>
  <wsdl:message name="crSQLRequest">
    <wsdl:part name="parameters" element="tns:crSQL" />
  </wsdl:message>
  <wsdl:message name="crSQLResponse">
    <wsdl:part name="parameters" element="tns:crSQLResponse" />
  </wsdl:message>
  <wsdl:message name="colDB2Request">
    <wsdl:part name="parameters" element="tns:colDB2" />
  </wsdl:message>
  <wsdl:message name="colDB2Response">
    <wsdl:part name="parameters" element="tns:colDB2Response" />
  </wsdl:message>
  <wsdl:message name="colSQLRequest">
    <wsdl:part name="parameters" element="tns:colSQL" />
  </wsdl:message>
  <wsdl:message name="colSQLResponse">
    <wsdl:part name="parameters" element="tns:colSQLResponse" />
  </wsdl:message>
  <wsdl:message name="getVersionInfoRequest">
    <wsdl:part name="parameters" element="tns:getVersionInfo" />
  </wsdl:message>
  <wsdl:message name="getVersionInfoResponse">
    <wsdl:part name="parameters" element="tns:getVersionInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ivorytcaPort">
    <wsdl:operation name="crDB2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:input message="tns:crDB2Request" />
      <wsdl:output message="tns:crDB2Response" />
    </wsdl:operation>
    <wsdl:operation name="crSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:input message="tns:crSQLRequest" />
      <wsdl:output message="tns:crSQLResponse" />
    </wsdl:operation>
    <wsdl:operation name="colDB2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:input message="tns:colDB2Request" />
      <wsdl:output message="tns:colDB2Response" />
    </wsdl:operation>
    <wsdl:operation name="colSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <wsdl:input message="tns:colSQLRequest" />
      <wsdl:output message="tns:colSQLResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The echo operation will return information about the service to allow for runtime dynamic changes.</wsdl:documentation>
      <wsdl:input message="tns:getVersionInfoRequest" />
      <wsdl:output message="tns:getVersionInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ivorytcaBinding" type="tns:ivorytcaPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crDB2">
      <soap:operation soapAction="urn:crDB2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crSQL">
      <soap:operation soapAction="urn:crSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="colDB2">
      <soap:operation soapAction="urn:colDB2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="colSQL">
      <soap:operation soapAction="urn:colSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionInfo">
      <soap:operation soapAction="urn:getVersionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ivorytca">
    <wsdl:port name="ivorytcaPort" binding="tns:ivorytcaBinding">
      <soap:address location="http://10.1.2.199:8099/soap/test/ivoryiws/ivorytca" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
